/* ======== Variables. scss ============================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* ======== Overwrite bootstrap css ============================== */
/* line 23, ../components/sass/style.scss */
p {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.8em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 28, ../components/sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  letter-spacing: 1px;
  font-family: "Open Sans",Helvetica, Arial, sans-serif; }

/* line 33, ../components/sass/style.scss */
a:hover {
  text-decoration: none; }

/* line 36, ../components/sass/style.scss */
th {
  text-align: center; }

/* line 39, ../components/sass/style.scss */
ul {
  padding-left: 0; }
  /* line 41, ../components/sass/style.scss */
  ul li {
    list-style: none; }

/* line 45, ../components/sass/style.scss */
.table > thead > tr > th {
  border-bottom: none; }

/* line 48, ../components/sass/style.scss */
ol {
  margin-top: 10px; }

/* line 52, ../components/sass/style.scss */
.form-horizontal .radio, .form-horizontal .checkbox {
  display: inline-block; }

/* line 57, ../components/sass/style.scss */
input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px; }

/* line 60, ../components/sass/style.scss */
.breadcrumb {
  display: inline-block; }

/* line 63, ../components/sass/style.scss */
.date {
  color: #656970; }

/* line 66, ../components/sass/style.scss */
.nav > li > a {
  padding: 10px 10px; }

/* line 70, ../components/sass/style.scss */
.navbar-toggle {
  background-color: #458ccb; }
  /* line 73, ../components/sass/style.scss */
  .navbar-toggle .icon-bar {
    background-color: white; }

/* line 80, ../components/sass/style.scss */
ul.navbar-nav > li {
  background-color: rgba(0, 0, 0, 0.6); }
/* line 84, ../components/sass/style.scss */
ul.navbar-nav > li a {
  color: #e8e8e8;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase; }
/* line 91, ../components/sass/style.scss */
ul.navbar-nav a.cart {
  background-color: #458ccb; }
/* line 95, ../components/sass/style.scss */
ul.navbar-nav a:hover {
  background-color: black; }

/* line 101, ../components/sass/style.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: black; }

/* line 105, ../components/sass/style.scss */
.dropdown-menu {
  background-color: black;
  border: none; }
  /* line 109, ../components/sass/style.scss */
  .dropdown-menu > li > a {
    padding: 5px 15px; }
    /* line 112, ../components/sass/style.scss */
    .dropdown-menu > li > a:hover {
      color: #458ccb; }

/* ================ section : title ===================================================== */
/* line 120, ../components/sass/style.scss */
#header {
  background-image: url("../../images/headImage.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  color: white;
  min-height: 250px; }

/* line 133, ../components/sass/style.scss */
.headercover {
  width: 100%;
  min-height: 250px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(15, 35, 53, 0.5)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(15, 35, 53, 0.5));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(15, 35, 53, 0.5));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(15, 35, 53, 0.5));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(15, 35, 53, 0.5)); }

/* line 140, ../components/sass/style.scss */
.title {
  margin-top: 2em; }
  /* line 143, ../components/sass/style.scss */
  .title img, .title h3 {
    display: inline-block;
    vertical-align: middle;
    text-shadow: 0px 1px 10px black; }
  /* line 149, ../components/sass/style.scss */
  .title h3 {
    font-size: 3em;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase; }

/* line 157, ../components/sass/style.scss */
.indexTitle {
  font-size: 32px;
  font-weight: 100;
  letter-spacing: 2px;
  display: inline-block;
  margin-top: 3em;
  padding: 0.5em 3em;
  background: rgba(18, 96, 155, 0.6); }

/* ============= Section: content ======================================== */
/* line 167, ../components/sass/style.scss */
#content {
  margin: 3em 0; }
  /* line 170, ../components/sass/style.scss */
  #content table {
    border-color: #7cb8e5; }
    /* line 172, ../components/sass/style.scss */
    #content table thead {
      background-color: #458ccb;
      color: white; }
      /* line 175, ../components/sass/style.scss */
      #content table thead th {
        font-weight: 300;
        letter-spacing: 1px;
        height: 40px; }
    /* line 182, ../components/sass/style.scss */
    #content table tbody tr:hover {
      background-color: whitesmoke; }
  /* line 188, ../components/sass/style.scss */
  #content .productLine {
    padding: 8px 15px;
    margin-bottom: 8px;
    list-style: none;
    background-color: whitesmoke;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  /* line 196, ../components/sass/style.scss */
  #content h3 {
    margin-bottom: 1em; }

/* line 203, ../components/sass/style.scss */
#clientinfo,
#clientdetail,
#featureProduct {
  margin-bottom: 3em; }

/* line 206, ../components/sass/style.scss */
#clientinfo {
  display: none; }

/* line 209, ../components/sass/style.scss */
#featureProduct h3 {
  margin-bottom: 2em; }

/* line 212, ../components/sass/style.scss */
#featureProduct hr {
  margin: 30px 0; }

/* ============= The accordion menu style ======================================== */
/* line 216, ../components/sass/style.scss */
.categoryTitle {
  width: 100%;
  background: #80bee8;
  color: white;
  letter-spacing: 1px;
  padding: 10px;
  margin-bottom: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px; }

/* line 225, ../components/sass/style.scss */
.accordion > li:last-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

/* line 228, ../components/sass/style.scss */
.accordion > li:last-child a {
  border-bottom: none; }

/* line 231, ../components/sass/style.scss */
.accordion {
  list-style-type: none;
  padding: 0;
  margin: 0 0 30px; }

/* line 236, ../components/sass/style.scss */
.accordion ul {
  padding: 0;
  margin: 0;
  float: left;
  display: block;
  width: 100%; }

/* line 243, ../components/sass/style.scss */
.accordion li {
  background: #458ccb;
  cursor: pointer;
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
  display: block;
  width: 100%; }

/* line 252, ../components/sass/style.scss */
.accordion li img {
  margin-top: -3px;
  margin-right: 5px; }

/* line 256, ../components/sass/style.scss */
.accordion li.active > a {
  background: url("../images/close.gif") no-repeat center right;
  font-weight: bold; }

/* line 260, ../components/sass/style.scss */
.accordion a {
  text-decoration: none;
  border-bottom: 1px solid #7cb8e5;
  font-weight: 400;
  line-height: 3em;
  color: white;
  padding: 0 10px;
  display: block;
  cursor: pointer; }

/* line 270, ../components/sass/style.scss */
.accordion a.toggle {
  background: url("../images/open.gif") no-repeat center right;
  font-weight: 300; }

/* Level 2 */
/* line 276, ../components/sass/style.scss */
.accordion li ul li {
  background: #7FD2FF; }

/* line 279, ../components/sass/style.scss */
.accordion li ul li a {
  color: #1167a8;
  padding-left: 25px;
  border-bottom: 1px solid #458ccb; }

/* ============= Section: footer ======================================== */
/* line 287, ../components/sass/style.scss */
#footer {
  background: url("../../images/gplaypattern.jpg"); }
  /* line 290, ../components/sass/style.scss */
  #footer .container {
    padding: 3em 0;
    color: #656970;
    font-weight: 300; }
  /* line 296, ../components/sass/style.scss */
  #footer .barblue, #footer .barsky, #footer .bargreen {
    height: 5px; }
  /* line 299, ../components/sass/style.scss */
  #footer .barsky {
    background-color: #2aaae1; }
  /* line 302, ../components/sass/style.scss */
  #footer .barblue {
    background-color: #458ccb; }
  /* line 305, ../components/sass/style.scss */
  #footer .bargreen {
    background-color: #77ab41; }
  /* line 309, ../components/sass/style.scss */
  #footer h3 {
    margin-top: 0;
    color: #458ccb; }
  /* line 314, ../components/sass/style.scss */
  #footer ul a {
    color: #656970; }
  /* line 319, ../components/sass/style.scss */
  #footer ul.mainlink li a,
  #footer li.mainlink {
    font-size: 1.6rem;
    line-height: 1.8em;
    color: #2aaae1; }
  /* line 326, ../components/sass/style.scss */
  #footer b {
    font-weight: normal;
    color: #77ab41; }

/* ============  Local representative map ========================= */
/* line 334, ../components/sass/style.scss */
#map {
  width: 1000px;
  height: 642px;
  background: url("http://harvatek-tech.com/wp-content/uploads/2013/08/salesMap.jpg"); }

/* =============  Media query ======================================== */
@media (min-width: 992px) {
  /* line 344, ../components/sass/style.scss */
  #footer .col-md-6 .col-md-12 {
    padding-left: 0; } }
@media (min-width: 768px) {
  /* line 350, ../components/sass/style.scss */
  .navbar-nav {
    float: right;
    margin-top: 23px; }

  /* line 354, ../components/sass/style.scss */
  #content .brand {
    min-height: 235px; }

  /* line 357, ../components/sass/style.scss */
  .index-col {
    position: relative;
    padding: 0 3em;
    border-right: 1px solid #eee;
    min-height: 210px; }
    /* line 363, ../components/sass/style.scss */
    .index-col .btn {
      position: absolute;
      margin-left: -50px;
      bottom: 0; }

  /* line 369, ../components/sass/style.scss */
  .newsList {
    padding: 0 3em; } }
